/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Black', sans-serif;

}

body {
    background: #0f0f0f;
    color: rgb(0, 137, 186);
}

/* -----------------------------
   COVER PAGE
------------------------------*/
.cover {
    height: 100vh;
    background: linear-gradient(145deg, #0f0f0f, #1a1a1a);
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.top-label {
    color: #cfcfcf;
    font-size: 14px;
    margin-bottom: 20px;
    
}

.creative {
    font-size: 50px;
    letter-spacing: 3px;
}

.portfolio-big {
    font-size: 150px;
    font-weight: 700;
    line-height: 0.9;
    color: rgb(0, 137, 186);
}

.cover-desc {
    color: #bfbfbf;
    margin-top: 20px;
    max-width: 450px;
    line-height: 1.6;
}

.cover-img {
    position: absolute;
    right: 80px;
    bottom: 50px;
    width: 300px;
    filter: grayscale(30%);
    border-radius: 10px;
}

/* -----------------------------
   TABLE OF CONTENTS
------------------------------*/
.toc {
    padding: 80px;
}

.section-title {
    font-size: 60px;
    margin-bottom: 40px;
}

.toc-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.toc-item {
    background: #1b1b1b;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    color: #cfcfcf;
    font-size: 18px;
}

/* -----------------------------
   INTRO
------------------------------*/
.intro {
    padding: 80px;
}

.intro-title {
    font-size: 80px;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 20px;
    max-width: 800px;
    line-height: 1.7;
    color: #cfcfcf;
}

.highlight {
    color: white;
    font-weight: bold;
}

/* -----------------------------
   ABOUT ME
------------------------------*/
.about-me {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    background: #1a1a1a;
}

.about-header {
    font-size: 70px;
    color: rgb(0, 137, 186);
}

.about-name {
    font-size: 50px;
    margin-top: 10px;
    color: #bfbfbf;
}

.about-details {
    width: 50%;
    font-size: 18px;
    line-height: 1.7;
    color: #d0d0d0;
}

/* -----------------------------
   SKILLS
------------------------------*/
.skills {
    padding: 80px;
}

.skills-list {
    margin-top: 20px;
    font-size: 22px;
    line-height: 2;
    color: white;
}

/* -----------------------------
   HIGHLIGHTS
------------------------------*/
.highlights {
    padding: 80px;
}

.highlight-grid {
    display: flex;
    gap: 20px;
}

.highlight-box {
    flex: 1;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: #cfcfcf;
    max-width: 1000px;
}

.highlight-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px; /* optional, for rounded corners */
}

/* -----------------------------
   PORTFOLIO
------------------------------*/
.portfolio {
    padding: 80px;
}

.portfolio-card {
    background: #1b1b1b;
    padding: 40px;
    border-radius: 20px;
    max-width: 600px;
    color: white;
}

/* -----------------------------
   EDUCATION
------------------------------*/
.education {
    padding: 80px;
}

.education-box {
    background: #1b1b1b;
    padding: 40px;
    border-radius: 20px;
    max-width: 600px;
    color: white;
}

/* -----------------------------
   PROJECT SECTIONS
------------------------------*/
.project-section {
    padding: 80px;
}

.project-card {
    background: #1b1b1b;
    padding: 40px;
    border-radius: 20px;
    max-width: 600px;
    color:white;
}

.small {
    opacity: 0.7;
}

/* -----------------------------
   CONTACTS
------------------------------*/
.contacts {
    padding: 80px;
    color:white;
}

.thankyou-section {
    padding: 60px 0 30px 0;
    text-align: center;
    background: transparent;
}

.thankyou-heading {
    color: #e5e5e5;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 0;
}

/* NAVIGATION BAR */
.navbar {
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    z-index: 999;
}

.nav-left {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-right a {
    margin-left: 25px;
    color: rgb(0, 137, 186);
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.nav-right a:hover {
    color: white;
    text-shadow: 0 0 10px white;
}
/* ANIMATIONS */
.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.slide-up {
    opacity: 0;
    transform: translateY(40px);
    animation: slideUp 1s ease forwards;
}

.scale-in {
    opacity: 0;
    transform: scale(0.9);
    animation: scaleIn .8s ease forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

